<form id="auth-form" hx-target="#auth-form" hx-post="/auth/sign-in" hx-swap="outerHTML swap:10000ms" hx-trigger="submit" hx-indicator="#auth-form-spinner">
  {% with field=auth_form.csrf_token %}
    {% include "forms/field.html" %}
  {% endwith %}
  <!-- <input type="hidden" name="next" value=""/> -->
  <div class="row">
    <div class="six columns">
      {% with field=auth_form.email, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=auth_form.password, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      <button class="button button-primary u-half-width" type="submit">
        Sign In
        <img id="auth-form-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </div>
  </div>
</form>