<tr id="expense-{{ expense.expense_id }}">
  <td>{{ expense.date }}</td>
  <td>{{ expense.category }}</td>
  <td>{{ "{:0,.2f}".format(expense.price) }}</th>  
  <td>{{ expense.description }}</td>
  <td>
    <button
      class="button button-edit u-half-width"
      hx-target="#expense-{{ expense.expense_id }}"
      hx-swap="outerHTML swap:100ms"
      hx-get="/expenses/{{ expense.expense_id }}/edit">
      Edit
    </button>
    <button
      class="button button-delete u-half-width"
      hx-target="#expense-{{ expense.expense_id }}"
      hx-swap="outerHTML swap:100ms"
      hx-delete="/expenses/{{ expense.expense_id }}"
      hx-confirm="Are you sure you wish to delete this expense?"
      hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'>
      Delete
    </button>
  </td>
</tr>
