<h2>Add a Service</h2>
<form id="service-form" hx-target="#services-container" hx-post="/services/" hx-swap="innerHTML swap:100ms" hx-indicator="#service-form-spinner">
  {{ service_form.csrf_token }}
  <div class="row">
    <div class="six columns">
      {% with field=service_form.name, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=service_form.description, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {% with field=service_form.price, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=service_form.duration, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      {% with field=service_form.is_active, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <!-- <div class="six columns"> -->
      <!-- {% with field=service_form.is_publicly_offered, include_label=True %} -->
        <!-- {% include "forms/field.html" %} -->
      <!-- {% endwith %} -->
    <!-- </div> -->
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      <button type="submit" class="button button-primary u-half-width">
        Add Service
        <img id="service-form-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </div>
  </div>
</form>
