<tr id="customers-{{ customer.customer_id }}">
  <td>{{ customer.name }}</td>
  <td>{{ customer.phone }}</td>
  <td>{{ customer.email }}</td>
  <td>{{ customer.emergency_contact_name }}</td>
  <td>{{ customer.emergency_contact_phone }}</td>
  {% if current_user.is_admin %}
    <td>{{ customer.signed_up_on }}</td>
    <td>{{ customer.is_active }}</td>
    <td>
      {% with object_type='customers', object_id=customer.customer_id %}
        {% include "buttons/edit.html" %}
      {% endwith %}
      {% with object_type='customers', object_id=customer.customer_id %}
        {% include "buttons/delete.html" %}
      {% endwith %}
    </td>
  {% endif %}
</tr>
