<h2>Add a Customer</h2>
<form id="customer-form" hx-target="#customers-container" hx-post="/customers/" hx-swap="innerHTML swap:100ms" hx-indicator="#customer-form-spinner">
  {{ customer_form.csrf_token }}
  <div class="row">
    <div class="twelve columns">
      {% with field=customer_form.name, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {% with field=customer_form.phone, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=customer_form.email, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {% with field=customer_form.emergency_contact_name, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=customer_form.emergency_contact_phone, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {% with field=customer_form.signed_up_on, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=customer_form.is_active, include_label=True  %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      <button type="submit" class="button button-primary u-half-width">
        Add Customer
        <img id="customer-form-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </div>
  </div>
</form>
