<div class="container">
  <h1>Bookings</h1>
  <br>
  <div class="row">
    <div class="twelve columns">
      {% if current_user.is_admin %}
        <button class="button button-primary u-half-width"
          hx-get="/bookings/add"
          hx-target="#bookings-container"
          hx-swap="innerHTML"
          hx-indicator="#add-booking-spinner"
          >
          Add Booking
          <img id="add-booking-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
        </button>
      {% endif %}
      <button class="button button-primary u-half-width"
        hx-get="/bookings/info/future"
        hx-target="#bookings-container"
        hx-swap="innerHTML"
        hx-indicator="#booking-future-spinner"
        >
        Future Bookings
        <img id="booking-future-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
      <button class="button button-primary u-half-width"
        hx-get="/bookings/info/past"
        hx-target="#bookings-container"
        hx-swap="innerHTML"
        hx-indicator="#booking-past-spinner"
        >
        Past Bookings
        <img id="booking-past-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </div>
  </div>
  <br>
  <br>
  <div id="bookings-container"></div>
  <br>
  <br>
  <br>
</div>
