<h2>Filter Bookings</h2>
<form id="booking-filter-form"
  hx-get="/bookings"
  hx-target="#bookings"
  hx-trigger="change"
  hx-swap="innerHTML">
  <div class="row">
    <div class="four columns">
      {% with field=booking_filter_form.user_id, include_field=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="four columns">
      {% with field=booking_filter_form.date_min, include_field=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="four columns">
      {% with field=booking_filter_form.date_max, include_field=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
</form>

<h2>Showing Bookings</h2>
<button class="button button-secondary u-half-width" onclick="exportTableToCsv('Bookings')" hx-indicator="#booking-download-spinner">
  Download Bookings
  <img id="booking-download-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
</button>

<div id="bookings">
  {% with bookings=bookings %}
    {% include "bookings/bookings.html" %}
  {% endwith %}
</div>
