<h2>Add a Dog</h2>
<form id="dog-form" hx-target="#dogs-container" hx-post="/dogs/" hx-swap="innerHTML swap:100ms" hx-indicator="#dog-form-spinner">
  {{ dog_form.csrf_token }}
  <div class="row">
    <div class="four columns">
      {% with field=dog_form.name, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="four columns">
      {% with field=dog_form.date_of_birth, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="four columns">
      {% with field=dog_form.breed, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {% with field=dog_form.customer_id, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=dog_form.vet_id, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      {% with field=dog_form.is_allowed_treats, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="three columns">
      {% with field=dog_form.is_allowed_off_the_lead, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="three columns">
      {% with field=dog_form.is_allowed_on_social_media, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="three columns">
      {% with field=dog_form.is_neutered_or_spayed, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {% with field=dog_form.behavioral_issues, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with field=dog_form.medical_needs, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>    
  </div>
  <br>
  <div class="row">
    <div class="twelve columns">
      <button type="submit" class="button button-primary u-half-width">
        Add Dog
        <img id="dog-form-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </div>
  </div>
</form>
