<tr hx-trigger="cancel" class="editing" hx-get="/dogs/{{ dog.dog_id }}">
    <td>
      {% with form_field=dog_form.name %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.date_of_birth %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.is_allowed_treats %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.is_allowed_off_the_lead %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.is_allowed_on_social_media %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.is_neutered_or_spayed %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.behavioral_issues %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.medical_needs %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.breed %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.customer_id %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form_field=dog_form.vet_id %}
        {% include "form_field.html" %}
      {% endwith %}
    </td>
    <td>
      <button class="button-edit u-half-width" hx-put="/dogs/{{ dog.dog_id }}" hx-include="closest tr" hx-indicator="#dog-save-spinner">
        Save
        <img id="dog-save-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
      <button class="button-delete u-half-width" hx-get="/dogs/{{ dog.dog_id }}" hx-indicator="#dog-delete-spinner">
        Cancel
        <img id="dog-delete-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </td>
</tr>
