<tr hx-trigger="cancel" class="editing" hx-get="/expenses/{{ expense.expense_id }}">
    <td>
      {{ expense_form.date(class_="u-full-width") }}
      {% with errors=expense_form.date.errors %}
        {% include "form_errors.html" %}
      {% endwith %}
    </td>
    <td>
      {{ expense_form.category(class_="u-full-width") }}
      {% with errors=expense_form.category.errors %}
        {% include "form_errors.html" %}
      {% endwith %}
    </td>
    <td>
      {{ expense_form.price(class_="u-full-width") }}
      {% with errors=expense_form.price.errors %}
        {% include "form_errors.html" %}
      {% endwith %}
    </td>
    <td>
      {{ expense_form.description(class_="u-full-width") }}
      {% with errors=expense_form.description.errors %}
        {% include "form_errors.html" %}
      {% endwith %}
    </td>
    <td>
    <button class="button-edit u-full-width" hx-put="/expenses/{{ expense.expense_id }}" hx-include="closest tr" hx-indicator="#expense-save-spinner">
      Save
      <img id="expense-save-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
    </button>
    <button class="button-delete u-full-width" hx-get="/expenses/{{ expense.expense_id }}" hx-indicator="#expense-delete-spinner">
      Cancel
      <img id="expense-delete-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
    </button>
    </td>
</tr>
