<div class="container">
  <h1>Expenses</h1>
  <br>
  <div class="row">
    <div class="twelve columns">
      <button class="button button-primary u-half-width"
        hx-get="/expenses/add"
        hx-target="#expenses-container"
        hx-swap="innerHTML">
        Add Expense
      </button>
      <button class="button button-primary u-half-width"
        hx-get="/expenses/info"
        hx-target="#expenses-container"
        hx-swap="innerHTML">>
        Expense Info
      </button>
  <br>
  <br>
  </div>
  <br>
  <br>
  <div id="expenses-container"></div>
  <br>
  <br>
  <br>
</div>
