<h2>Filter Expenses</h2>
<form id="expense-filter-form"
  hx-get="/expenses"
  hx-target="#expenses"
  hx-trigger="change"
  hx-swap="innerHTML">
  <div class="row">
    <div class="four columns">
      {% with field=expense_filter_form.from_date, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="four columns">
      {% with field=expense_filter_form.to_date, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
    <div class="four columns">
      {% with field=expense_filter_form.category, include_label=True %}
        {% include "forms/field.html" %}
      {% endwith %}
    </div>
  </div>
</form>

<h2>Showing Expenses</h2>
<button class="button button-secondary u-half-width" onclick="exportTableToCsv('Expenses')" hx-indicator="#expense-download-spinner">
  Download Expenses
  <img id="expense-download-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
</button>

<div id="expenses">
  {% with expenses=expenses %}
    {% include "expenses/expenses.html" %}
  {% endwith %}
</div>
