<tr hx-trigger="cancel" class="editing" hx-get="/expenses/{{ expense.expense_id }}">
    <td>
      {% with field=expense_form.date %}
        {% include "forms/field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with field=expense_form.category %}
        {% include "forms/field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with field=expense_form.price %}
        {% include "forms/field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with field=expense_form.description %}
        {% include "forms/field.html" %}
      {% endwith %}
    </td>
    <td>
    <button class="button-edit u-half-width" hx-put="/expenses/{{ expense.expense_id }}" hx-include="closest tr" hx-indicator="#expense-save-spinner">
      Save
      <img id="expense-save-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
    </button>
    <button class="button-delete u-half-width" hx-get="/expenses/{{ expense.expense_id }}" hx-indicator="#expense-delete-spinner">
      Cancel
      <img id="expense-delete-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
    </button>
    </td>
</tr>
