<div class="container">
  <h1>Expenses</h1>
  <br>
  <div class="row">
    <div class="twelve columns">
      <button class="button button-primary u-half-width"
        hx-get="/expenses/add"
        hx-target="#expenses-container"
        hx-swap="innerHTML"
        hx-indicator="#add-expense-spinner"
        >
        Add Expense
        <img id="add-expense-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
      <button class="button button-primary u-half-width"
        hx-get="/expenses/info"
        hx-target="#expenses-container"
        hx-swap="innerHTML"
        hx-indicator="#expense-info-spinner"
        >
        Expense Info
        <img id="expense-info-spinner" class="htmx-indicator" src="/static/img/bars.svg"/>
      </button>
    </div>
  </div>
  <br>
  <br>
  <div id="expenses-container"></div>
  <br>
  <br>
  <br>
</div>
